* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(../img/back-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.cahee-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 0;
}

.cahee-head__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.cahee-head__item {
    padding: 0 17px;
}

.cahee-head__item_list {
    text-decoration: none;
    color: black;
}

.cahee-head__item_list:focus, .cahee-head__item_list:active {
    border-top: 3px solid orange;
}

.cahee-content__all-blocks {
    margin: 0 150px;
}

.cahee-content__title {
    font-size: 60px;
    text-transform: capitalize;
    max-width: 100%;
    padding-bottom: 10px;
}

.cahee-content__text-wrap {
    width: 380px;
    line-height: 1.5;
    font-size: 17px;
    max-width: 100%;
    margin-bottom: 30px;
}

.cahee-content__button {
    border: 0;
    background-color: #FF6033;
    width: 200px;
    padding: 19px 0;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0px 0px 3px grey;
    max-width: 100%;
    cursor: pointer;
}

.cahee-content__all-blocks {
    padding: 24% 0;
}

.cahee-content__blue-box {
    background-color: #00B8B8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.text-container {
    width: 550px;
    color: white;
}

.cahee-content__title_bottom {
    font-size: 90px;
    text-transform: capitalize;
}

.cahee-footer__text-wrap_bottom {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 300;
}

.cahee-footer__text-wrap_bottom p {
    padding: 10px 0;
}